<div class="container">
    <div class="card-full">
        <div class="card-full__bg"></div>

        <div class="avatar card-full__photo">
            <img class="avatar__img"
                 src="#"
                 alt="">
        </div><!--.card-full__photo-->

        <div class="card-full__content">
            <div class="card-full__header">
                <h1 class="text-title text-title--h1 card-full__title">
                    Character Name
                </h1>

                <div class="badge card-full__status">Status</div>
            </div><!--.card-full__header-->

            <div class="card-full__list">
                <p class="text-body text-body--m">
                    <span class="text-body--secondary">Вид:</span>
                    <span class="card__species">species</span>
                </p>
                <p class="text-body text-body--m">
                    <span class="text-body--secondary">Пол:</span>
                    <span class="card__gender">gender</span>
                </p>
                <p class="text-body text-body--m">
                    <span class="text-body--secondary">Тип:</span>
                    <span class="card__type">type</span>
                </p>
                <p class="text-body text-body--m">
                    <span class="text-body--secondary">Происхождение:</span>
                    <span class="card__origin">origin</span>
                </p>
                <p class="text-body text-body--m">
                    <span class="text-body--secondary">Местожительство:</span>
                    <span class="card__location">location</span>
                </p>
            </div><!--.card-full__list-->
        </div><!--.card-full__content-->
    </div><!--.card-full-->
</div><!--.container-->
