<div class="container">
    <div class="cards">

    </div><!--.cards-->

    <ul class="pagination">
        <li class="pagination__item">
            <a class="pagination__link pagination__link--prev"
               href="#">Назад</a>
        </li>
       <li class="pagination__item">
           <a class="pagination__link pagination__link--active"
              href="#">1</a>
       </li>
       <li class="pagination__item">
           <a class="pagination__link"
              href="#">2</a>
       </li>
       <li class="pagination__item">
           <a class="pagination__link"
              href="#">3</a>
       </li>
        <li class="pagination__item">
            <a class="pagination__link pagination__link--next"
               href="#">Вперед</a>
        </li>
    </ul>
</div><!--.container-->
