<div class="container">

    <div class="cards">
        <div class="card">
            <p class="text-title text-title--h2 card__title">
                The Ricklantis Mixup
            </p>
            <p class="text-body text-body--m">
                <span class="text-body--secondary">Серия:</span>
                S03E07
            </p>
            <p class="text-body text-body--m">
                <span class="text-body--secondary">Дата выхода:</span>
                September 10, 2017
            </p>
            <div class="card__residents">
                <p class="text-body text-body--m text-body--secondary card__residents__label">
                    Персонажи:
                </p>
                <div class="avatar-group">
                    <div class="avatar avatar--s">
                        <img class="avatar__img">
                    </div>
                    <div class="avatar avatar--s">
                        <img class="avatar__img">
                    </div>
                    <div class="avatar avatar--s">
                        <img class="avatar__img">
                    </div>
                </div>
            </div>
        </div><!--.card-->

    </div><!--.cards-->

</div><!--.container-->
