<div class="container">

    <div class="cards">
        <div class="card">
            <div class="card__person">
                <div class="card__photo">
                    <img class="card__photo__img">
                </div>
                <div class="card__content">
                    <div class="badge badge--accent card__status">Жив</div>
                    <p class="text-title text-title--h2 card__title">
                        Aqua Rick
                    </p>
                    <p class="text-body text-body--m card__more">
                        <a class="text-link text-link--accent"
                           href="#">Подробнее</a>
                    </p>
                </div>
            </div><!--.card__person-->
        </div><!--.card-->

        <div class="card">
            <div class="card__person">
                <div class="card__photo">
                    <img class="card__photo__img">
                </div>
                <div class="card__content">
                    <div class="badge badge--accent card__status">Нет в живых</div>
                    <p class="text-title text-title--h2 card__title">
                        Glockenspiel Rick
                    </p>
                    <p class="text-body text-body--m card__more">
                        <a class="text-link text-link--accent"
                           href="#">Подробнее</a>
                    </p>
                </div>
            </div><!--.card__person-->
        </div><!--.card-->

        <div class="card">
            <div class="card__person">
                <div class="card__photo">
                    <img class="card__photo__img">
                </div>
                <div class="card__content">
                    <div class="badge badge--accent card__status">Жив</div>
                    <p class="text-title text-title--h2 card__title">
                        Tony Galopagus
                    </p>
                    <p class="text-body text-body--m card__more">
                        <a class="text-link text-link--accent"
                           href="#">Подробнее</a>
                    </p>
                </div>
            </div><!--.card__person-->
        </div><!--.card-->

        <div class="card">
            <div class="card__person">
                <div class="card__photo">
                    <img class="card__photo__img">
                </div>
                <div class="card__content">
                    <div class="badge badge--accent card__status">Нет в живых</div>
                    <p class="text-title text-title--h2 card__title">
                        Gobo
                    </p>
                    <p class="text-body text-body--m card__more">
                        <a class="text-link text-link--accent"
                           href="#">Подробнее</a>
                    </p>
                </div>
            </div><!--.card__person-->
        </div><!--.card-->
    </div><!--.cards-->

</div><!--.container-->