<div class="container">

    <div class="cards">
        <div class="card">
            <p class="text-title text-title--h2 card__title">
                Citadel of Ricks
            </p>
            <p class="text-body text-body--m">
                <span class="text-body--secondary">Тип:</span>
                Space station
            </p>
            <p class="text-body text-body--m">
                <span class="text-body--secondary">Измерение:</span>
                unknown
            </p>
            <div class="card__residents">
                <p class="text-body text-body--m text-body--secondary card__residents__label">
                    Жители:
                </p>
                <div class="avatar-group">
                    <div class="avatar avatar--s">
                        <img class="avatar__img">
                    </div>
                    <div class="avatar avatar--s">
                        <img class="avatar__img">
                    </div>
                    <div class="avatar avatar--s">
                        <img class="avatar__img">
                    </div>
                </div>
            </div>
        </div><!--.card-->

    </div><!--.cards-->

</div><!--.container-->
